<!DOCTYPE html>
<html>
  <head>
    <title>PropshaftDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      Takeyu Web Inc.
    </header>
    <%= yield %>
    <footer>
      <div id="hello" data-to-what="React"></div>
      <div style="background-color: black">
        <%= image_tag "logo.svg", width: 100 %>
        <%= image_tag "images/logo-lib-path.svg", width: 100 %>
        <%= image_tag "images/logo-vendor-path.svg", width: 100 %>
      </div>
    </footer>
  </body>
</html>
